*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(53, 51, 51, 0.5), rgba(51, 50, 50, 0.9)), url(https://images.unsplash.com/photo-1542051841857-5f90071e7989?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/cover no-repeat fixed;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 400ms linear;
}

.navbar.scrolled {
  background-color: rgb(22, 22, 22) !important;
  transition: background-color 400ms linear;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #fff; /* This adds a white border */
}

.custom-carousel {
  background: #202020;
  box-shadow: 0 40px 45px 2px rgba(0, 0, 0, 0.7);
}

.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.display-4 {
  color: #fff;
  font-weight: 600;
}

.lead {
  color: #fff;
}

.custom-shadow {
  box-shadow: 0 0rem 3rem rgba(209, 9, 9, 0.9); /* This adds a white shadow */
}

.card-header {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.custom-text {
  font-weight: 700;
}

.square-btn-color {
  width: 30px;
  height: 30px;
  border: none;
  background-size: cover;
}

.form-select:focus {
  border-color: #dee2e6;
  box-shadow: none;
}

.col-6.col-md h5 {
  color: white;
}

.icon {
  color: white;
}

.icon svg:hover {
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  transition: 1s;
}

.footer-text {
  color: #c10c0c !important;
}